int {{main_inf}}.{{sub_if}} l2transport
{% if internal_external == 'internal'-%}
ethernet loopback permit internal
{% else -%}
ethernet loopback permit external
{% endif -%}
commit
exit
exit
{% if internal_external == 'internal'-%}
ethernet loopback start local interface {{main_inf}}.{{sub_if}} internal destination mac-address 0010.9400.0113 timeout 1800
{% else -%}
ethernet loopback start local interface {{main_inf}}.{{sub_if}} external destination mac-address 0010.9400.0113 timeout 1800
{% endif -%}