{% if  QOS_type == 'Business3' -%}
{% set TC = 3 -%}
{% set EXP = 1 -%}
{% elif QOS_type == 'Business1' -%}
{% set TC = 5 -%}
{% set EXP = 3 -%}
{% elif QOS_type == 'Business2' -%}
{% set TC = 4 -%}
{% set EXP = 2 -%}
{% elif QOS_type == 'Premium' -%}
{% set TC = 6 -%}
{% set EXP = 5 -%}
{% elif QOS_type == 'Standard' -%}
{% set TC = 2 -%}
{% set EXP = 4 -%}
{% else -%}
{% endif -%}
{% if port_type == 'Y-type'-%}
interface {{ main_interface }}.{{ item }} l2transport encapsulation dot1ad {{ item + 100 }} dot1q {{ item }}
interface {{ main_interface }}.{{ item }} l2transport rewrite ingress tag pop 1 symmetric
{% elif port_type == 'P-type' -%}
interface {{ main_interface }}.{{ item }} l2transport encapsulation default
{% elif port_type == 'X-type' -%}
interface {{ main_interface }}.{{ item }} l2transport encapsulation dot1q {{ item }}
interface {{ main_interface }}.{{ item }} l2transport rewrite ingress tag pop 1 symmetric
{% else -%}
interface {{ main_interface }}.{{ item }} l2transport encapsulation dot1q {{ item }}
{% endif -%}
interface {{ main_interface }}.{{ item }} l2transport
interface {{ main_interface }}.{{ item }} l2transport service-policy input {{service_BW}}-{{QOS_type}}
l2vpn xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }}
l2vpn xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} interface {{ main_interface }}.{{ item }}
l2vpn xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} neighbor evpn evi {{ 50000 + item|int }} target {{ 50000 + item|int }} source {{ 50000 + item|int }}
evpn evi {{ 50000 + item|int }}
{% if CCM_REQUIRED == 'YES'-%}
ethernet cfm domain COLT-1 level 1 id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }}
ethernet cfm domain COLT-1 level 1 id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }} continuity-check interval {{ CCM_interval }}
ethernet cfm domain COLT-1 level 1 id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }} mep crosscheck mep-id {{ Remote_MEP }}
ethernet cfm domain COLT-1 level 1 id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }} log continuity-check errors
ethernet cfm domain COLT-1 level 1 id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }} log crosscheck errors
ethernet cfm domain COLT-1 level 1 id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }} log continuity-check mep changes
interface {{ main_interface }}.{{ item }} l2transport ethernet cfm mep domain COLT-1 service ALX_NCS_LE-{{ 100000 + item|int }} mep-id {{ Local_MEP}} cos {{ EXP }}
{% else -%}
{% endif -%}
policy-map {{service_BW}}-{{QOS_type}}
 class class-default
  {% if 'Bundle' in main_interface and QOS_type!= 'Standard' -%}
  police rate percent {{  service_BW * 100 // total_BW }} burst 1100 kbytes
  {% elif 'Bundle' in main_interface and QOS_type== 'Standard' -%}
  police rate percent {{ service_BW * CIR_percentage// total_BW }} burst 1200 kbytes peak-rate percent {{ service_BW * 100// total_BW }} peak-burst 1000 kbytes
  {% elif  QOS_type== 'Standard' -%}
  police rate {{ service_BW* CIR_percentage //100 }} kbps burst 1200 kbytes peak-rate {{ service_BW }} kbps peak-burst 1000 kbytes
  {% else -%}
  police rate {{ service_BW }} kbps burst 1100 kbytes
  {% endif -%}
  !
  set traffic-class {{TC}}
  set qos-group {{EXP}}
 !
 end-policy-map
!