{% if port_type == 'PL-type'-%}
no interface {{ main_interface }}
commit
interface {{ main_interface }} mtu 9186
interface {{ main_interface }} service-policy output egr account user-defined 26
interface {{ main_interface }} lldp receive disable
interface {{ main_interface }} lldp transmit disable
interface {{ main_interface }} load-interval 30
{% else -%}
no interface {{ main_interface }}.{{ item }}
{% endif -%}
{% if ELAN -%}
no l2vpn bridge group ALX_NCS_LE-{{ 100000 + item|int }}
{% else -%}
no l2vpn xconnect group ALX_NCS_LE-{{ 100000 + item|int }}
{% endif -%}
{% if CCM_REQUIRED == 'YES'-%}
ethernet cfm domain COLT-1 level {{MEG_level}} id null
no service ALX_NCS_LE-{{ 100000 + item|int }}
{% else -%}
{% endif -%}
no policy-map {{service_BW}}-{{QOS_type}}-DIPNKR
no evpn evi {{ 50000 + item|int }}
