no interface {{ main_interface }}.{{ item }}
no l2vpn xconnect group ALX_NCS_LE-{{ 100000 + item|int }}
ethernet cfm domain COLT-1 level {{MEG_level}} id null
no service ALX_NCS_LE-{{ 100000 + item|int }}
no policy-map {{service_BW}}-{{QOS_type}}